{% extends 'base_alumno.html' %}

{% block content %}
{% load static %}

    <div class="container">
        <br>
        <h3 class="center pink-text text-accent-2"> Bienvenido {{ Estudiante.Nombre }} </h3>
        <img id="AdminMiCuenta" src="{% static "Index/img/Estudiante/Index_MiCuenta_alumno.png" %}"/>
        <a href="{% url 'alumnos_clases:student_class' Estudiante.EstudianteID %}">
        <img id="AdminEstudiante" src="{% static "Index/img/Estudiante/Index_Clases_alumno.png" %}"/></a>
        <img id="AdminAsistencias" src="{% static "Index/img/Estudiante/Index_Asistencias_estudiante.png" %}"/>
    </div>

{% endblock content %}